<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>网站应用系统保密检查管理平台V1.1</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="网站应用系统保密检查管理平台V1.1">
	<meta name="keyword" content="网站应用系统保密检查管理平台V1.1">
	<meta name="author" content="网站应用系统保密检查管理平台V1.1">
	<link rel="stylesheet" href="css/reset.css">  
	<link rel="stylesheet" href="css/style.css">  

</head>
<body>
	<div id="box_adaption">
		<div id="header" class="clearFix">
			<div class="logo_box clearFix">
				<div class="logo_img"><img src="images/index/logo.png" alt=""></div>
				<div class="logo_txt">
					<h2>网站应用系统保密检查管理平台V1.1</h2>
					<p>Web system security Inspector manage platform V1.1</p>
				</div>
			</div>
			<div class="nav">
				<ul class="clearFix">
					<li class="jcgl"><a href="index.html">任务管理</a></li>
					<li class="wjgl"><a href="fileManagement.html">文件管理</a><span class="nav_line"></span></li>
					<li class="gjz last_no_r"><a href="keyword.html">关键字</a></li>
				</ul>
			</div>
			<div class="relevant_info">
				<ul class="clearFix">
					<li class="user_show">
						登录者 <span class="arrow_down"></span>
						<ul class="user_do">
							<li class="changePass">修改密码</li>
							<li><a href="login.html">退出</a></li>
						</ul>
					</li>
					<li class="aboutus">关于我们</li>
					<li class="help">帮助</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div class="func_column">
				<div class="fileManagement_check_time">
					任务名称 
					<select name="" id="">
						<option value="">OA</option>
						<option value="">百度</option>
						<option value="">OA</option>
						<option value="">百度</option>
					</select>
				</div>
				<div class="fileManagement_table_total">
					网页数：<span class="webs">22</span>个 , 附件数：<span class="enclosure">4</span>个 , 命中数：<span class="hit">33</span>个
				</div>
				<div class="fileManagement_search">
					<input type="text" placeholder="MM，JM">
					<button>查询</button>
				</div>
			</div>
			<div class="table_content fileManagement_table_content">
				<div class="table_wrap">
					<table>
						<thead>
							<tr>
								<th style="width:5%">序号</th>
								<th style="width:10%" style="width:5%">文件名称</th>
								<th style="width:17%;">地址</th>
								<th style="width:10%">命中关键字</th>
								<th style="width:10%">结果判定</th>
								<th style="width:20%">判断说明</th>
								<th style="width:18%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>文件1</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM">MM， JM</td>
								<td><span class="suspected">疑似</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>2</td>
								<td>文件2</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM， MJ">MM， JM， MJ</td>
								<td><span class="normal">正常</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>3</td>
								<td>文件3</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM">MM， JM</td>
								<td><span class="suspected">疑似</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>4</td>
								<td>文件4</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM， MJ">MM， JM， MJ</td>
								<td><span class="normal">正常</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>5</td>
								<td>文件5</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM">MM， JM</td>
								<td><span class="suspected">疑似</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>6</td>
								<td>文件6</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM， MJ">MM， JM， MJ</td>
								<td><span class="normal">正常</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>7</td>
								<td>文件7</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM">MM， JM</td>
								<td><span class="suspected">疑似</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>8</td>
								<td>文件8</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM， MJ">MM， JM， MJ</td>
								<td><span class="normal">正常</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>9</td>
								<td>文件9</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM">MM， JM</td>
								<td><span class="suspected">疑似</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
							<tr>
								<td>10</td>
								<td>文件10</td>
								<td class="align_left"><a href="http://www.baidu.com">http://image.baidu.com/search/index</a></td>
								<td class="align_left" title="MM， JM， MJ">MM， JM， MJ</td>
								<td><span class="normal">正常</span></td>
								<td></td>
								<td><span class="edit_yes result_decision">结果判定</span> <span class="edit_yes">导出文件</span></td>
							</tr>
						</tbody>	
					</table>
					<div class="page">
						<span> < </span>
						<span class="checked"> 1 </span>
						<span> 2 </span>
						<span> 3 </span>
						<span> 4 </span>
						<span class="no_cur"> ... </span>
						<span> > </span>
					</div>
				</div>
			</div>
		</div>
		<div id="footer"><p>Copyright ©2017 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 版权所有</p> </div>
		<div class="zzc"></div>
		<div class="popup">
			<div class="popup_title"><span class="popup_title_pos"></span> <span class="popup_close" onclick="webSystem.func.closePopup()"></span></div>
			<div class="popup_con"></div>
			<div class="func_btn">
				<button class="cancel" onclick="webSystem.func.closePopup()">取消</button>
				<button class="save" onclick="webSystem.func.closePopup()">保存</button>
				<button class="sure" onclick="webSystem.func.closePopup()">确定</button>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	
</body>	
</html>