<form action="">
	<div class="form_group">
		<span class="label"><span class="required"> * </span> 任务名称：</span>
		<input type="text" placeholder="请输入任务名称">
		<span class="judge_name required"> 名称不能为空 </span>
	</div>
	<div class="form_group">
		<span class="label"><span class="required"> * </span> 任务地址：</span>
		<input type="text" placeholder="http:// 或 https:// 开头">
		<span class="judge_name required"> 名称不能为空 </span>
	</div>
	<div class="form_group">
		<span class="label"><span class="required"> * </span> 检索深度：</span>
		<select name="" id="">
			<option value="">三级(默认)</option>
			<option value="">一级</option>
			<option value="">二级</option>
			<option value="">四级</option>
			<option value="">五级</option>
			<option value="">全部</option>
		</select>
	</div>
	<div class="form_group">
		<span class="label labelgjz"><span class="required"> * </span> 关键字：</span>
		<div class="keyword_content">
			<div class="keyword_select_show">
				<!-- <span class="selected" name=""></span> -->
			</div>
			<div class="keyword_select clearFix">
				<div class="keyword_select_all">
					<div class="btn_select_all"><span class="span_all">全选</span></div>
					<div class="a_select_keyword"><a href="">关键字管理</a></div>
				</div>
				<div class="keyword_list">
					<span class="choice" name="mimi">mimi</span>
					<span class="choice" name="jimi">jimi</span>
					<span class="choice" name="mini">mini</span>
				</div>
			</div>
		</div>
		
	</div>
</form>