<form action="">
	<div class="form_group" style="font-size:14px;">
		<span class="label">用户名称：</span>
		当前登陆者名称
	</div>
	<div class="form_group">
		<span class="label">原密码：</span>
		<input type="text" placeholder="请输入原密码">
		<span class="required"> * </span>
	</div>
	<div class="form_group">
		<span class="label">原密码：</span>
		<input type="text" placeholder="请输入新密码">
		<span class="required"> * </span>
	</div>
	<div class="form_group">
		<span class="label">确认密码：</span>
		<input type="text" placeholder="请输入新密码">
		<span class="required"> * </span>
	</div>
</form>